
<% provide(:title, 'About') %>

    <h1>About Lazy cats</h1>
    <p style="text-indent: 2em">The question of feline fatigue is a controversial one.</p> 
	<p style="text-indent: 2em">Some may give cats the label of laziness because of their unique sleeping habits. Others may say cats are lazy because they won't fetch a ball like Fido does. </p> 
	<p style="text-indent: 2em">To understand cats, one must take a look at their evolutionary history.</p>



