
 	<%= image_tag("bg000.jpg", alt: "Lazy cats") %> 
 	<% if signed_in? %>
 		<p>花相似，花相似，相似送花花相似，相似花不开；</p>
		<p>久相思，久相思，相思还久久想思，相思久不归。</p>
 	<% else %>  		 	
 		<%= render 'sessions/new' %>
 	<% end %>