<div class="center hero-unit">
  <h1>Welcome to Lazy cats's home</h1>

  <h2>
    This is the home page for the
    <a href="http://lazycats.herokuapp.com/lazies/home">Lazy cats</a>.
  </h2>

  <%= link_to "Sign in now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= image_tag("http://115.238.233.103/file/MDAwMDAwMDF0dASAAkXEJjerwknciDzsIg7WeG7QLOmnbfSACdOuFw../eb6308690c0672f6c88995afbb5b58db1ca7f/2c760cd845c8258c1a7fd6db6fa9d979.jpg?key=AAABQFJD4eOJvc82&a=10086000020987438-ca16f91d-48039-20ca015105/020600&mode=download", alt: "Lazy cats") %>


<!-- http://115.238.233.103/file/MDAwMDAwMDF0dASAAkXEJjerwknciDzsIg7WeG7QLOmnbfSACdOuFw../eb6308690c0672f6c88995afbb5b58db1ca7f/2c760cd845c8258c1a7fd6db6fa9d979.jpg?key=AAABQFJD4eOJvc82&a=10086000020987438-ca16f91d-48039-20ca015105/020600&mode=download

http://115.238.233.104/file/MDAwMDAwMDEqlosPy2tQIFhxKRYJ3YoHlaQPc-ep9U9P3csTOTzh8g../4ecb24ff9d1eb214ebd04f450ff0707d239fe/2c760cd845c8258c1a7fd6db6fa9d979.jpg?key=AAABQFJDtX3m-pgU&a=10086000020987438-ca16f91d-48039-20ca202781/020600&mode=download -->